AllTheStacks.xcodeproj/project.xcworkspace/xcshareddata
AllTheStacks.xcodeproj/xcuserdata/adamahrens.xcuserdatad/xcdebugger

.DS_Store
AllTheStacks.xcodeproj/project.xcworkspace/xcuserdata/MikeDave.xcuserdatad/
AllTheStacks.xcodeproj/xcuserdata/MikeDave.xcuserdatad/


AllTheStacks.xcodeproj/project.xcworkspace/xcuserdata/adamahrens.xcuserdatad/UserInterfaceState.xcuserstate
